.button {
  @include flex(center);
  gap: $padding-xs;
  background-color: $color-dark;
  color: $color-white;
  height: 44px;
  border-radius: $radius-xs;
  font-weight: 400;
  padding-inline: $padding-sm;
  @include transition(background-color);

  &:hover {
    background-color: $color-secondary;

    @include transition(background-color);
  }
}

.fullWidth {
  width: 100%;
}
