.container {
  @include flex(flex-start, center);
  background-color: $color-dark;
  height: 300px;
}

.video {
  max-width: 400px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media (width >= 768px) {
  .container {
    padding-block: 100px;
    height: auto;
  }

  .video {
    height: 500px;
    max-width: 500px;
  }
}
