$height: 360px;

.container {
  border-bottom: 3px solid $color-secondary;
  height: $height;
  position: relative;
  top: 0;
}

.imageWrapper {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.image {
  object-fit: cover;
  z-index: 2;
}

.background {
  background: linear-gradient(
    132deg,
    #060606 37%,
    rgb(0 38 51 / 88%) 48%,
    rgb(0 38 51 / 88%) 48%,
    #000 57%
  );
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.wrapper {
  animation: fadeOpacity 1s linear forwards;
  color: $color-white;
  gap: $padding-xs;
  height: $height;
  padding-inline: $padding-xs;

  @include flex(center, center, column);
}

.caption {
  font-size: 18px;
}

.title {
  background: linear-gradient(
    90deg,
    $color-secondary -10%,
    $color-white 50%,
    $color-secondary 110%
  );
  background-clip: text;
  color: transparent;
  font-size: 44px;
  text-align: center;
  -webkit-text-fill-color: transparent;
}

@keyframes fadeOpacity {
  0% {
    filter: blur(10px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    opacity: 1;
  }
}
