$height: 300px;

.container {
  height: $height;
  top: 0;
  position: relative;
  border-bottom: 3px solid $color-secondary;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.image {
  object-fit: cover;
  z-index: 2;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    132deg,
    #060606 37%,
    rgb(0 38 51 / 88%) 48%,
    rgb(0 38 51 / 88%) 48%,
    #000 57%
  );
}

.wrapper {
  height: $height;
  color: $color-white;
  @include flex(center, center, column);
  gap: $padding-xs;
  animation: fadeOpacity 1s linear forwards;
}

.caption {
  font-size: 18px;
}

.title {
  background: linear-gradient(
    90deg,
    $color-secondary -10%,
    $color-white 50%,
    $color-secondary 110%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 44px;
}

@keyframes fadeOpacity {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
