.wrapper {
  position: relative;
  width: 100%;

  .label {
    font-weight: 400;
    padding-bottom: 8px;
  }
}

.input {
  background: transparent;
  border-radius: $radius-xs;
  outline: none;
  outline: $light-border;
  padding: $padding-xs;
  width: 100%;
}

.input::-webkit-inner-spin-button {
  appearance: none;
}

.input:focus {
  outline: 2px solid $color-primary;
}

.error {
  bottom: -16px;
  color: red;
  font-size: 12px;
  left: 0;
  position: absolute;
}
