.wrapper {
  width: 100%;
  position: relative;

  .label {
    font-weight: 400;
    padding-bottom: 8px;
  }
}

.input {
  width: 100%;
  padding: $padding-xs;
  background: transparent;
  border-radius: $radius-xs;
  outline: none;
  outline: $light-border;
}

.input::-webkit-inner-spin-button {
  appearance: none;
}

.input:focus {
  outline: 2px solid $color-secondary;
}

.error {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: -14px;
  left: 0;
}
