.header {
  background-color: $color-dark;
  border-bottom: 1px solid rgba($color-white, 0.1);
  color: $color-white;
  height: 77px;
  padding: $padding-sm;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.wrapper {
  @extend %container;
}

// avatar
.avatar {
  background-color: $color-secondary;
  border-radius: 50%;
  height: 40px;
  padding: $padding-md;
  width: 40px;

  @include flex(center, center);
}

// UserMenu
.userInfo {
  @include flex(center, flex-end);

  gap: $padding-md;
}

.userWrapper {
  @include flex(center);

  gap: $padding-xs;
}

.link {
  @include flex(center, center);

  background-color: $color-secondary;
  border-radius: $radius-xs;
  font-weight: 400;
  gap: $padding-xs;
  height: 44px;
  padding-inline: $padding-sm;

  @include transition(background-color);

  &:hover {
    background-color: $color-primary;

    @include transition(background-color);
  }
}

.textButton {
  display: none;
}

@media (width >= 768px) {
  .textButton {
    display: block;
  }
}
