.container {
  @extend %container;
  padding: 0 20px 100px 20px;
}

.wrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.title {
  padding-block: 40px;
}

@media (width >= 768px) {
  .title {
    padding-block: 80px 40px;
  }

  .container {
    padding: 0 40px 100px 40px;
  }
}
