.loader {
  animation: rotation 1s linear infinite;
  border: 6px solid $color-primary;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bg {
  height: 80px;
  width: 80px;
}

.sm {
  height: 28px;
  width: 28px;
}
