
@mixin flex($align: center, $justify: center, $direction: row)  {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin transition($params: all, $transition: 0.3s) {
  transition: $params $transition ;
}
