$color-white: white;
$color-primary: #0099b8;
$color-secondary: rgb(8 92 110);
$color-dark: black;
$color-gray: rgb(49 49 49 / 32%);

// borders
$light-border: 1px solid $color-gray;

// sizes:
$width-container: 1400px;
$padding-xs: 12px;
$padding-sm: 16px;
$padding-md: 20px;
$radius-xs: 4px;

%container {
  margin: 0 auto;
  max-width: $width-container;
}
