.form {
  gap: $padding-md;
  margin: 0 auto;
  max-width: 600px;
  order: 1;
  padding: 40px 20px;
  width: 100%;

  @include flex(flex-start, flex-start, column);

  button {
    margin-top: $padding-xs;
  }
}

.title {
  color: $color-primary;
}

@media (width >= 768px) {
  .form {
    margin: 0;
    order: 0;
    padding: 140px 20px;
  }
}

@media (width >= 1168px) {
  .form {
    padding: 140px 80px;
  }
}
